{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<footer> --}}
    <h1>Enter your data</h1>
    <form action="/api/auth/login" method="post">
        <input type="text" name="email">
        <input type="password" name="password" value="1111">
        {{!-- <input type="password" name="password"> --}}
        <button type="submit">Enter</button>
    </form>
        
 
</footer>
{{!--</html> --}}