        <h5>Загрузите ваш файл товарных позиций prom-магазина с раширением .csv</h5>
        
              <div class="row align-items-start">
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col">
                  
                </div>
                <div class="col">
                    <form action="/api/auth/upload" method="post" enctype="multipart/form-data">
                      <div class="input-group mb-3">
                        <input type="file" class="form-control" name="filedata" id="inputGroupFile02">
                        <input type="submit" class="input-group-text" />
                      </div>
                    </form>
                </div>
                <div class="col">
                  
                </div>
              </div>
