ul, li {
    list-style: none;
    padding: 0;
    margin: o;
}

li textarea {
    width: 100%;
    margin-top: 10px;
}

div textarea {
    width: 100%;
    margin-top: 10px;
}

.col .block {
    padding: 0 5px 0 50px;
}

.red {
    background-color: red;
    color: red;
}

::selection {
    color: blue;
    background: yellow;
}

.group {
    margin-left: 50px;
    width: 90%;
}